@media only screen and (min-width: 1024px) {
	body {
		background-color: aliceblue;
		background-image: url("../images/concrete-wall-2.png");
	}

	div.page {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 100%;
	}

	.page > header {
		margin-top: 20vh;
		background-color: inherit;
		background-image: none;
	}

	.container {
		margin-top: 3vh;
	}
}
