/* Desktop style rules */

@media only screen and (min-width: 1024px) {
	/* body will have the mobile version's header background image and colour  */
	body {
		background-color: aliceblue;
		background-image: url("../images/concrete-wall-2.png");
	}

	/* new rules for the header + main content container, will be a container of rows within the body column container */
	div.page {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 100%;
	}

	/* invert previous colour scheme here, add spacing away nav  */
	.page > header {
		margin-top: 20vh;
		background-color: inherit;
		background-image: none;
	}

	/* add spacing away from compose tweet */
	.container {
		margin-top: 3vh;
	}
}
