/* css rules for the nav bar */

/* flex container here to have logo and compose button on opposite ends */
nav {
	display: flex;
	color: #ffffff;
	background-color: #4056a1;
	padding: 1.5em 1.5em 24px 1.5em;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-end;
	position: sticky;
	height: 120px;
	width: 100%;
}

/* text and button to be a column */
.navside {
	display: flex;
	flex-flow: column;
	align-items: center;
}

/* arrow to be red */
i {
	color: red;
}

/* logo to be closer to the bottom of the nav bar on purpose */
#nav-logo {
	font-size: 1.5em;
	font-family: "Bungee";
	display: flex;
	align-self: flex-end;
}

.navside button {
	border: none;
	font-size: 24px;
	cursor: pointer;
}

/* compose button arrow will change color on hover */
#compose > i:hover {
	color: #b2d8f1;
}
