article.tweet {
	display: flex;
	flex-direction: column;
	border: solid black;
	padding: 15px;
}

article.tweet header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-image: none;
	background-color: transparent;
	height: 10%;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
}

article.tweet header span:first-child {
}
article.tweet header h3 {
	display: inline;
}

article.tweet p {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
}

article.tweet footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: solid black;
	font-size: 12px;
	padding: 10px;
}

article.tweet footer span i {
	color: #4056a1;
	margin-left: 5px;
	margin-right: 5px;
}

.gold {
	color: gold;
}

.box-hover {
	box-shadow: 5px 5px 5px 0px #3e3e3e73;
}
